<h1>Create a new book!</h1>
<form action="/books" method="post">
  <label for="title">title</label>
  <input type="text" name="title">
  <label for="author">author</label>
  <input type="text" name="author">
  <label for="snippet">snippet</label>
  <input type="text" name="snippet">
  <input type="submit" value="Create Book">
</form>